body {
    margin: 0;
    color: white;
    font-family: sans-serif;
    background-image: url(https://assets3.thrillist.com/v1/image/1688021/size/tmg-slideshow_l.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45)
}

.App-title{
    width: 100;
    height: 18vh;
    line-height: 18vh;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase
}

.section{
    width: 90%;
    margin: 20px auto;
    padding: 0px 36px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: white;
    min-height: 40px;
    line-height: 40px;
}

.sub-title{
    font-size: 26px;
    font-weight: 800;
}

.sub-title span{
    float: right
}

i{
    cursor: pointer;
    padding-left: 12px
}

table{
    width: 95%;
    margin: 20px auto;
    background: #0c121bb0;
    border-radius: 16px;
}

thead{
    font-size:24;
    width: 100%
}

tbody{
    width: 100%;
    font-size: 22;
    text-align: center
}

th ,td{
    padding: 10px 5px
}

.add{
    width: 90%;
    margin: 20px auto;
    padding: 5px 20px;
    background: #0c121bb0;
    border-radius: 16px;
}

.add input, .add button{
    font-size: 20px;
    background-color: #06080d;
    color: white;
    border-radius: 12px;
    border: black 2px solid;
    padding: 6px;
    display: inline-block;
    width: 21%;
    margin: 6px;
    outline: none
}

.add button{
    float: right;
    width: 130px;
    background-color: #131240
}

@media (max-width: 768px){
    .wish td:nth-child(4),.wish td:nth-child(5),
    .wish th:nth-child(4),.wish th:nth-child(5) {
        display: none
    }
    .section{
        width: 98%;
        padding:0
    }
    .sub-title{
        padding: 0 12px
    }
    .add input, .add button{
        display: block;
        width: 80%;
        margin: 12px auto;
        float: none
    }
}

@media(max-width : 480px){
    .App-title{
        font-size: 2em
    }
    table{
        width: 100%;
    }
}

html::-webkit-scrollbar
{
	width: 12px;
	background-color: #7b7a7a;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #323f56;
}
